body{
   
    margin: 0;
   padding:0;
   text-align: center;
   background-image:url("./images/tape.png")
   
}

h1{
    margin:0;
    padding:0;
    text-align: center;
    /*background-color:rgb(6, 6, 61);*/
    padding-bottom:40px;
    padding-top: 40px;
    font-size: 40px;
    font-family: 'Righteous', cursive;
    box-sizing: border-box;
    width: 100%;
    padding: 30px;  
    border: 10px solid rgb(0, 0, 0);
    background-color:white;
}

main{
    box-sizing: content-box;
    text-align: center;
    width: 50%;
    height: 500px;
    padding: 30px;
    border: 10px solid rgb(0, 0, 0);
    margin-left: 20%;
    margin-top: 1%;
    display:flex;
    background-color:white;
    

  }

  /*@media all and(min-width: 600px) {
    header{
    font-size:52px;
    display: flex;
    justify-content:space-between;
    padding:0 30px;
    }
}*/

    @media all and (min-width: 450px) {
        .wrapper{
          width:80%;
          margin:auto;
          
          
        }
        
    }
    .form {
      text-align: left;
      padding-left: 60px;
      
    }
    
    .box{
      margin: 0 auto;
    }

    .StartPage{
      /*padding-left: 90px;*/
      margin:auto;
      text-align:center;
      border: 1px solid black;
      border-radius: 5%;
      height: 300px;
    }

    /* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}


/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
